<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script text="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>
	<script text="text/javascript" src="/socket.io/socket.io.js"></script>
	<script text="text/javascript" src="/javascripts/index.js"></script>
</head>
<body>
	<input id="username" type="text">
	<button id="join">join</button>
	<button id="getid">getid</button>
	<button id="start">start</button>
	<br>
	<button id="dice" class="dice">Roll Dice</button>
	<button id="end">Turn End</button>
	<br>
	<div>
		resources:<br>
		<div id="t">t:0</div>
		<div id="r">r:0</div>
		<div id="w">w:0</div>
		<div id="s">s:0</div>
		<div id="b">b:0</div>
	</div><br>
	<div id="log">logs:<br>

	</div>
	<div id="resource"></div>
	
</body>
</html>
