<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script text="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>
	<script text="text/javascript" src="/socket.io/socket.io.js"></script>
	<script text="text/javascript" src="/javascripts/index.js"></script>
</head>
<body>
	<input id="userid" type="text">
	<button id="join">join</button>
	<button id="getid">getid</button>
	
</body>
</html>
