<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="UTF-8">
	<title>WebCatan</title>

	<link rel="stylesheet" href="/stylesheets/WebCatan.css">

	<!-- JQuery読み込み -->
	<script type="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>

	<!-- BootStrap読み込み -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	<script type="text/javascript" src="/javascripts/bootstrap.js"></script>


	<!-- D3.js読み込み -->
	<script type="text/javascript" src="/javascripts/d3.js"></script>
	<script type="text/javascript" src="/javascripts/d3-hexbin.v0.2.min.js"></script>

	<!-- 各種jsファイル読み込み -->
	<script text="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/FieldDraw.js"></script>
	<script type="text/javascript" src="/javascripts/Building.js"></script>
	<script type="text/javascript" src="/javascripts/WebCatan.js"></script>


</head>
<body>
	<input id="username" type="text">
	<button id="join">join</button>
	<button id="getid">getid</button>
	<button id="start">start</button>
	<br>
	<button id="dice" class="dice">Roll Dice</button>
	<button id="end">Turn End</button>
	<br>
	<!-- <input type="number" id="CCamp"> -->
	<!-- <button id="SCamp">Create Camp</button> -->
	<!-- <br> -->
	<!-- <input type="number" id="CCity"> -->
	<!-- <button id="SCity">Update City</button> -->
	<!-- <br> -->
	<!-- <input type="number" id="CRoadto"> -->
	<!-- <input type="number" id="CRoadfrom"> -->
	<!-- <button id="SRoad">Create Road</button> -->
	<!-- <br> -->
	<input type="radio" name="ex" value="camp">Create Camp
	<input type="radio" name="ex" value="city">Update City
	<input type="radio" name="ex" value="road">Create Road
	<button id="Set">Submit</button>
	<br>
	<div>
		resources:<br>
		<div id="t">t:0</div>
		<div id="r">r:0</div>
		<div id="w">w:0</div>
		<div id="s">s:0</div>
		<div id="b">b:0</div>
	</div><br>

	<div id="mainWrapper"></div>
	</div>

</body>
</html>
